{% extends 'registration/signup.html' %}
{% load tailwind_filters %}
{% load static %}
{% block content %}
<title>Create a Lead</title>
<body>
    <div class="container">
        <div class="box">
            <div class="span">
                <h1>Lead <span>Categories.</span></h1>
            </div>
                <div class="login">
                    {% for lead in category.leads.all %}
                    <a class="text-3xl" style="text-decoration: none;" href="{% url 'leads:category-leadupdate' lead.id %}">{{lead.first_name}} {{lead.last_name}}</a>
                    {% endfor %}
                </div>

        </div>
        <div class="team_img_wrapper">
            <img src="{% static 'images/team.svg' %}" alt="team-img" />
          </div>
    </div>
</body>
{% endblock %}