{% extends 'registration/signup.html' %}
{% load tailwind_filters %}
{% load static %}
{% block content %}
<title>Udate Lead Category</title>
<body>
    <div class="container">
        <div class="box">
            <div class="span">
                <h1>Update Lead <span>Category.</span></h1>
            </div>
            <form method="post">
                {% csrf_token %}
                {{form|crispy}}
                <div class="bottom">
                    <button class="w-full hover:px-3 py-2 rounded-md">Update Category</button>
                </div>
                <div class="login">
                    <a href="{% url 'leads:lead-list' %}">Go Back?</a><br>
                </div>
            </form>
        </div>
        <div class="team_img_wrapper">
            <img src="{% static 'images/team.svg' %}" alt="team-img" />
          </div>
    </div>
</body>
{% endblock %}