<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>category-detail</title>
</head>
<body>
    <a href="{% url 'leads:category' %}"><p>Go back</p></a>
    {% for lead in category.leads.all %}
    {% if request.user.is_agent %}
    <a href="{% url 'leads:category-leadupdate' lead.id %}"><h3>{{lead.first_name}}  {{lead.last_name}}</h3></a>
    {% else %}
    <a href="{% url 'leads:category-leadupdate' lead.id %}"><h3>{{lead.first_name}}  {{lead.last_name}}</h3></a>
    {% endif %}
    {% endfor %}
</body>
</html>