<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>CRMapp</title>
</head>
<body>
    <nav>
        <h1 class="hello">Welcome</h1> 
        <span>{{request.user.username}} &#128519;</span>.
        <div class="nav-contents">
            <ul>
               <li><a href="{% url 'logout' %}">Logout</a></li>
               {% if request.user.is_organisor %}
               <li><a  href="{% url 'agents:agent-list' %}">Agents</a></li>
               {% else %}
               {% endif %}
               {% if request.user.is_organisor %}
               <li><a  href="{% url 'leads:category' %}">Categories</a></li>
               {% else %}
               {% endif %}
               <li>Signed in as: <span style="text-transform: capitalize;">{{request.user.username}}</span></li>
            </ul>
        </div>
            <div class="search">
                <input type="search" placeholder=" search">
                <button><div class="search-icon">&#9906;</div></button>
            </div>
    </nav>
<div class="background-img">
    <div class="container">
        {% if request.user.is_organisor %}
        <p id="text-p">These are the Leads under your organisation</p>
        {% else %}
        <p id="text-p">These are the Leads for your management</p>
        {% endif %}
        <div class="lead">
                {% for lead in leads %}
                <p>
                    <a class="text-2xl">{{lead.first_name}}</a><br>
                    <a>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur 
                        iste tempora explicabo in expedita soluta doloribus consectetur.
                    </a><br>
                    <span class="text"><a href="{% url 'leads:lead-detail' lead.id %}">click to view this lead ->></a></span>
                </p>
                {% endfor %}
            </div>
    {% if unnassigned_leads.exists %}        
    <p id="text-u" class="mt-5">Unnasigned Leads:</p>
        <div class="unnasigned">
            {% for unassigned in unassigned_leads %}
            <p>
                <a class="text-2xl">{{unnasigned.first_name}}</a><br>
                <a>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur 
                    iste tempora explicabo in expedita soluta doloribus consectetur.
                </a><br>
                <span class="text"><a href="{% url 'leads:agentassign' unnassigned.id %}">click to assign an agent to this lead ->></a></span>
            </p>
            {% endfor %}
        </div>
        {% endif %}
        <div class="bottom">
            {% if request.user.is_organisor %}
            <a href="{% url 'leads:lead-create' %}"><button class="w-full text-black hover:bg-blue-500  px-3 py-2 rounded-md">Create Lead?</button></a>
            {% else %}
            {% endif %}
        </div>
    </div>
</div>
</body>
</html>