{% extends 'registration/signup.html' %}
{% load tailwind_filters %}
{% load static %}
{% block content %}
<title>Lead Categories</title>
<body>
    <div class="container">
        <div class="box">
            <div class="span">
                <h1>View Lead <span>Categories.</span></h1>
            </div>
                <div class="bottom">
                    <a href="{% url 'leads:new-leadcategory' %}"><button class="w-full hover:px-3 py-2 rounded-md">New Leads</button></a>
                    {% for categories in category reversed %}
                    <a href="{% url 'leads:category-detail' categories.id %}"><button class="w-full hover:px-3 py-2 rounded-md">{{categories.name}}</button></a>
                    {% endfor %}
                </div>
                <div class="login">
                    <a href="{% url 'leads:lead-list' %}">Go Back?</a><br>
                </div>
        </div>
        <div class="team_img_wrapper">
            <img src="{% static 'images/team.svg' %}" alt="team-img" />
          </div>
    </div>
</body>
{% endblock %}