<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRMapp</title>
</head>
<body>
    {% if request.user.is_authenticated %}
    <h3>signed in as:{{request.user.username}}</h3>
    {% else %}
    <a href="{% url 'login' %}"><h3>login</h3></a><a href="{% url 'signup' %}"><h3>signup</h3>
    {% endif %}
    <h1>This is all of our leads</h1></a><a href="{% url 'agents:agent-list' %}"><h3>Agents</h3></a>
    {% for lead in leads %}
    <a href="{% url 'leads:lead-detail' lead.id %}"><h3>{{lead.first_name}}</h3></a>
    {% endfor %}
    <a href="{% url 'leads:lead-create' %}"><h3>Create Lead?</h3></a>
</body>
</html>