<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lead details</title>
</head>
<body>
    <a href="{% url 'leads:lead-list' %}"><p>Go back</p></a>
    <h3>
        first_name: {{leads.first_name}} <br>
        last_name: {{leads.last_name}}<br>
        age: {{leads.age}}<br>
        agent: {{leads.agent.user.email}}<br>
        created_at: {{leads.created_at}}<br>    
    </h3>
    <br>
    {% if request.user.is_organisor %}
    <p> 
        <a href="{% url 'leads:lead-update' leads.id %}"><h3>update Lead</h3></a> <a href="{% url 'leads:agentassign' leads.id %}"><h3>Change Lead Agent</h3></a>  <a href="{% url 'leads:lead-delete' leads.id %}"><h3>Delete Lead</h3></a>
        
    </p>
    {% else %}
    <a href="{% url 'leads:lead-agentupdate' leads.id %}"><h3>update Lead</h3></a>
    {% endif %}
</body>
</html>