<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create ure Lead</title>
</head>
<body>
    <a href="{% url 'leads:lead-detail' leads.id %}"><p>Go back</p></a>
    <h2>Are you sure you want to delete this lead?</h2>
    <form method="post">
        {% csrf_token %}
        {{form.as_p}}
        <button>yes</button>  <a href="{% url 'leads:lead-detail' leads.id %}"><button>No</button></a>
    </form>
</body>
</html>