<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lead Categories</title>
</head>
<body>
    <a href="{% url 'leads:lead-list' %}"><p>Go back</p></a>
    <table>
        <tr>
            <td>
                <a href="{% url 'leads:new-leadcategory' %}"><h2>New Leads</h2></a><br>
                {% for categories in category reversed %}
               <a href="{% url 'leads:category-detail' categories.id %}"> <h2>{{categories.name}}</h2></a><br>
                {% endfor %}
            </td>

        </tr>
    </table>
</body>
</html>