{% extends 'registration/signup.html' %}
{% load tailwind_filters %}
{% load static %}
{% block content %}
<title>New Lead categories</title>
<body>
    <div class="container">
        <div class="box">
            <div class="span">
                <h1>New Lead <span>Categories.</span></h1>
            </div>
                <div class="login">
                    {% for new_lead_category in new_leads %}
                    {% if request.user.is_organisor %}
                    <a class="text-3xl" style="text-decoration: none;" href="{% url 'leads:category-leadupdate' new_lead_category.id  %}"><h2>{{new_lead_category.first_name}}  {{new_lead_category.last_name}}</h2></a>
                    {% else %}
                    <a class="text-3xl" style="text-decoration: none;" href="{% url 'leads:lead-agentupdate' new_lead_category.id  %}"><h2>{{new_lead_category.first_name}}  {{new_lead_category.last_name}}</h2></a>
                    {% endif %}
                    {% endfor %}
                </div>

        </div>
        <div class="team_img_wrapper">
            <img src="{% static 'images/team.svg' %}" alt="team-img" />
          </div>
    </div>
</body>
{% endblock %}





