<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agent List</title>
</head>
<body>
    <a href="{% url 'leads:lead-list' %}"><p>Go back</p></a>
    <a href="{% url 'agents:agent-create' %}">create Agent</a><br>
    {% for agent in agents %}
    <a href="{% url 'agents:agent-details' agent.id %}"><h3>{{agent.user.username}}</h3></a>
    {% endfor %}
</body>
</html>