{% extends 'registration/signup.html' %}
{% load tailwind_filters %}
{% load static %}
{% block content %}
<title>Update Agent</title>
<body>
    <div class="container">
        <div class="box">
            <div class="span">
                <h1>Update Agent <span>{{agent.user.username}}</span></h1>
            </div>
            <form method="post" id="form">
                {% csrf_token %}
                <label>username</label><input type="text" name="username" placeholder="update agent username" value="{{user.username}}">
                <label>first_name</label><input type="text" name="first_name" placeholder="update agent first_name" value="{{user.first_name}}">
                <label>last_name</label><input type="text" name="last_name" placeholder="update agent last_name" value="{{user.last_name}}">
                <label>email</label><input type="text" name="email" placeholder="update agent email" value="{{user.email}}">
                <div class="bottom">
                    <button class="w-full hover:px-3 py-2 rounded-md">Update Agent</button>
                </div>
                <div class="login">
            
                </div>
            </form>
        </div>
        <div class="team_img_wrapper">
            <img src="{% static 'images/team.svg' %}" alt="team-img" />
          </div>
    </div>
</body>
{% endblock %}