<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'stylesss.css' %}">
    <title>CRMapp</title>
</head>
<body>
    <nav>
        <h1 class="hello">Welcome</h1> 
        <span>{{request.user.username}} &#128519;</span>.
        <div class="nav-contents">
            <ul>
                <li><a href="{% url 'leads:lead-list' %}">Leads</a></li>
               <li><a href="{% url 'logout' %}">Logout</a></li>
               {% if request.user.is_organisor %}
               <li><a  href="{% url 'leads:category' %}">Categories</a></li>
               {% else %}
               {% endif %}
               <li>Signed in as: <span style="text-transform: capitalize;">{{request.user.username}}</span></li>
            </ul>
        </div>
            <div class="search">
                <input type="search" placeholder=" search">
                <button><div class="search-icon">&#9906;</div></button>
            </div>
    </nav>
<div class="background-img">
    <div class="container">
        <p id="text-p">These are the Agents under your organisation</p>
        <div class="lead">
                {% for agent in agents %}
                <p>
                    <a class="text-3xl" style="text-transform: capitalize;" href="{% url 'agents:agent-details' agent.id %}">{{agent.user.username}}</a><br>
                    <a>
                       {{agent.user.agent_details|truncatewords:30}}
                    </a><br>
                    <span class="text"><a href="{% url 'agents:agent-details' agent.id %}">click to view this agent ->></a></span>
                </p>
                {% endfor %}
            </div>
        <div class="bottom">
            <a href="{% url 'agents:agent-create' %}"><button class="w-full text-black hover:bg-blue-500  px-3 py-2 rounded-md">Create Agent?</button></a>
        </div>
    </div>
</div>
</body>
</html>