{% extends 'registration/signup.html' %}
{% load tailwind_filters %}
{% load static %}
{% block content %}
<body>
    <div class="container">
        <div class="box">
            <div class="span">
                <h1>Password reset <span>Complete.</span></h1>
            </div>
            <h2>You have successfully Reset your Password</h2>
                <div class="bottom">
                    <a href="{% url 'login' %}"><button class="w-full hover:px-3 py-2 rounded-md">Login</button></a>
                </div>
        </div>
        <div class="team_img_wrapper">
            <img src="{% static 'images/team.svg' %}" alt="team-img" />
          </div>
    </div>
</body>
{% endblock %}