<!DOCTYPE html>
<html lang="en">
<head>
    {% load tailwind_filters %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href=" {% static 'signup.css'%} ">
{% block content %}
    <title>Signup</title>
</head>
<body>

    <div class="container">
    <form method="post">
        <div class="box">
            <div class="span">
                <h1>SignUp To <span>Timmi's CRM.</span></h1>
            </div>
            
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
            <div class="bottom">
                <button class="w-full hover: px-3 py-2 rounded-md">SignUp</button>
                <div class="login">
                    <a href="{% url 'login' %}"><h3>Already have an account?</h3></a>
                </div>
            </div>
            </form>
        </div>
        <div class="team_img_wrapper">
            <img src="{% static 'images/team.svg' %}" alt="team-img" />
          </div>
    </div>

    {% endblock %}
</body>
</html>

