/* ==== "Inter" FONT-FAMILY FROM FONTS.GOOGLE.COM  ==== */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Trebuchet MS", Helvetica, sans-serif; */
    font-family: "Inter", sans-serif;
}
body{
    /* font-family: "Trebuchet MS", Helvetica, sans-serif; */
    font-family: "Inter", sans-serif;
    /* background: linear-gradient(to bottom, rgba(247, 252, 252, 0), rgb(250, 260, 240)); */
    background:  #fafbfb;
    background-size: cover;
    min-height: 100vh;
    margin: 10px;
}
.container{
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.team_img_wrapper {
    width: 500px;
    max-width: 100%;
    height: 440px;
}
.team_img_wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.box{
    width: 600px;
    height: auto;
    border-radius: 9px;
    padding: 15px;
}
.box h1{
    font-weight: 300;
    font-size: 30px;
    margin-bottom: 10px;
    text-align: center;
}
.box h2{
    font-weight: 300;
    font-size: 27px;
    margin-bottom: 10px;
    text-align: center;
    display: inline; 
    text-transform: capitalize;  
}
.span span{
    color: #335eea;
    font-size: 28px;
    font-weight: 700;
    text-transform: capitalize;
}

.box h1::after{
    content: '';
    display: block;
    width: 500px;
    height: 3px;
    margin: auto;
    background: black;
    border-radius: 3px;
}
.bottom{
    width: 70%;
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 10px;
    align-items: center;
}
.bottom button{
    transition: 0.3s ease-in-out;
    height: 50px;
    font-size: 20px;
    font-weight: 400;
    background:  #335eea;
    color: white;
    box-shadow: 0 0.5rem 1.5rem rgba(22, 28, 45, 0.1);
    margin-top: 10px;
    

}
.bottom button:hover{
    color: white;
    background-color: #2b50c7;
    transform: translateY(-3px);
    transition: box-shadow 0.25s ease, transform 0.25s ease;
}
.login{
    text-decoration: underline 1px;
    text-align: center;
    color: #506690;

}
.login a:hover{
    color:  #335eea;
}
#form input{
    width: 100%;
    height: 50px;
    border: 2px solid black;
    border-radius: 10px;
    padding-left: 5px;
}
#form ::placeholder{
    padding-left: 5px;
}
