/* ==== "Inter" FONT-FAMILY FROM FONTS.GOOGLE.COM  ==== */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Trebuchet MS", Helvetica, sans-serif; */
    font-family: "Inter", sans-serif;
}
body{
    /* font-family: "Trebuchet MS", Helvetica, sans-serif; */
    font-family: "Inter", sans-serif;
    /* background: linear-gradient(to bottom, rgba(247, 252, 252, 0),rgb(220, 220, 230)); */
    background:  #fafbfb;
    background-size: cover;
    min-height: 100vh;
    margin: 10px;
}
nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding: 2px 4%;
    align-items: baseline;
}
nav > span{
    font-weight: 700;
    font-size: 25px;
    color: #335eea;
    text-transform:uppercase;
    margin-left: 10px;
}
.hello{
    margin-top: 2%;
    font-weight: 300;
    font-size: 30px;
}
.nav-contents{
    flex: 1;
    text-align: center;
}
.nav-contents ul li{
    list-style: none;
    display: inline-block;
    padding: 12px 28px;
    margin-top: 19px;
}
.nav-contents ul li{
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    transform: 0.2s;
    color:  #506690;
}
.nav-contents ul a::after{
    content: '';
    display: block;
    width: 0px;
    height: 3px;
    transition: 0.5s ease-in-out;
    margin: auto;
    background: #2b50c7;
}
.nav-contents ul a:hover::after{
    width:40px;
}
.nav-contents ul a:hover{
    font-size: 25px;
}
.search{
    box-sizing: border-box;
}
.search input{
    padding: 2px;
    border-radius: 7px;
}
.search-icon{
    transform: rotate(-45deg);
    font-size:25px;
    margin-top: 3px;
    border: none;
}
.search-icon:hover{
    color:rgb(124, 142, 230);
    border: none;
}
.background-img{
    background: url(images/team.svg);
    background-size: cover;
    height: 90%;
    width:  85%;
    max-width: 100%;
    align-items: center;
    object-fit: contain; 
}
.background-img img{
    width: 500px;
    max-width: 100%;
    height: 440px;
    object-fit: contain; 
}
.container{
    margin: 95px;
    min-height: 100vh;
}
#text-p{
    font-weight: 400;
    font-size: 30px;
    text-transform: capitalize;
}
#text-u{
    font-weight: 400;
    font-size: 30px;
    text-transform: capitalize;
}
#text-p::after{
    content: '';
    display: block;
    width: 1200px;
    height: 2px;
    margin-left: 30px;
    background: black;
    border-radius: 3px;
}
#text-u::before{
    content: '';
    display: block;
    width: 1200px;
    height: 2px;
    margin-left: 30px;
    background: black;
    border-radius: 3px;
}
.lead{
    margin-top: 20px;
    margin-right: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    
}
.lead p{
    border: 2px solid black;
    margin-bottom: 25px;
    margin-left: 10px;
    width:500px;
    height: auto;
    border-radius: 9px;
    padding-left: 6px;
    transition: 0.3s ease-in-out;   
}
.text{
    font-weight: 50;
    font-size: 12px;
    padding-left: 15px;
    color: rgb(124, 142, 230);
}
.lead p:hover{
    background: #fafbfb;
}
.lead span{
    transition: 0.3s ease-in-out;
}
.lead span:hover{
    font-size: 15px;
}
.bottom{
    width: 50%;
    margin-left: 24%;
}
.bottom button{
    transition: 0.3s ease-in-out;
    height: 50px;
    font-size: 20px;
    font-weight: 400;
    color: white;
    margin-top: 70%;
    background:  #335eea;
    
}
.bottom button:hover{
    color: white;
    background-color: #2b50c7;
    transform: translateY(-3px);
    transition: box-shadow 0.25s ease, transform 0.25s ease;
}
.unnasigned{
    margin-top: 10px;
    margin-left: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;

}
.unnasigned p{
    border: 2px solid black;
    margin-left: 10px;
    width:500px;
    height: auto;
    border-radius: 9px;
    padding-left: 6px;
    transition: 0.3s ease-in-out; 
}
.unnasigned p:hover{
    background-color: rgba(164, 165, 170, 0.2);
}
.unnasigned span{
    transition: 0.3s ease-in-out;
}
.unnasigned span:hover{
    font-size: 15px;
}
